.input1{
    background-color: rgb(87, 230, 206);
    color: crimson;
}
.input2{
    background-color: rgb(0, 140, 255);
}
.input3{
    background-color: rgb(253, 5, 108);
}
.input4{
    background-color: rgb(21, 255, 0);
}
.input5{
    background-color: rgb(0, 68, 255);
}
.input6{
    background-color: rgb(109, 99, 238);
}